html.theme-dark .chart-page {
    background-color: #1a1a1a;
}

html.theme-dark .chart-page .chart-container-border {
    background-color: #101010;
}

html.theme-dark .group-2JyOhh7Z- {
    background-color: #1a1a1a;
}

html.theme-dark .chart-controls-bar {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
}

.dateRangeWrapper-yS_7EK1i- {
    display: none;
}
